<h1>Post</h1>
<%= @post.title %>
<br>
<%= @post.url %>
<br>
<%= @post.content %>
<br>
<% if current_user.id == @post.author_id %>
<%= button_to 'Edit Post', edit_post_url(@post), method: :get %>
<%= button_to 'Delete Post', post_url(@post), method: :delete %>
<% end %>
